.chatView{
  position: relative;
}

.chatView>img{
  cursor: pointer;
}

.chatView_timer{
  /* the position is absolute to the parent container, means top and right of the parent container position zero */
  position: absolute ; 
  top: 0;
  right: 0;
  margin: 10px;

}
