.login{
  background-color: #feff00;
  height: 100vh;
  display: grid;
  place-items: center;
  width: 100%;
}

.login_container{
  display: flex;
  flex-direction: column;
}


.login_container >img {
  height: 300px;
  object-fit: contain;
}